/*base page*/

html,
body,
img,
div,
span,
h1,
h2,
h3,
p,
a,
nav,
h2,
ul,
li,
section,
article,
header,
footer
{
    margin:0;
    padding: 0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}

