$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white: #fff;
$color-grey: rgb(234, 234, 234);
$color-grey-dark: rgb(53, 53, 53);

$light-color-primary: lighten($color-primary, 30%);
$color-grey-light: rgb(246, 246, 246);

$breakpoint: (
    mobile: 767px,
    minitablet: 768px,
    maxtablet: 991px,
);
