
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cader{ 
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:auto;
    margin-bottom: 20px;
    border:$color-secondary solid 13px;
    text-align: center;
    
}


h1 {
    width: 500px;
    margin: auto;
    color: $color-secondary;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.text-product{
    background-color: $color-tertiary;
    width: 100%;
    height:auto;
    margin: auto;
}


.h2ours{
    color:black;
    font-weight: bold;
    font-size: 30px;
    background-color: $color-tertiary;
}

.h2product{
    width: 500px;
    margin: auto;
    color: $color-secondary;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
}   

.description{
    font-size: 20px;
    background-color: $color-tertiary;
}

.price{
    font-size: 24px;
    background-color: $color-tertiary;

}

.btn{
    width: 100%;
    text-decoration: none;
    background-color: $color-primary;
}

a{  font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: $color-primary;
    text-decoration: none;
}