
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cader{ 
    width: 18%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:50px;
    margin-bottom: 20px;
    border:$color-secondary solid 13px;
    text-align: center;
    
}


h1 {
    font-family: "roboto", "sans serif" ;
    width: 500px;
    margin: auto;
    color: $color-secondary;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.text-product{
    background-color: $color-tertiary;
    width: 100%;
    height:auto;
    margin: auto;
}


.h2ours{
    color:$color-primary;
    font-family: "roboto", "sans serif";
    font-weight: bold;
    font-size: 30px;
    background-color: $color-tertiary;
}


.description{
    font-family:"merrywether", "sans serif";
    font-size: 20px;
    background-color: $color-tertiary;
}

.price{
    font-size: 24px;
    background-color: $color-tertiary;

}

.btn{
    width: 100%;
    text-decoration: none;
    background-color: $color-primary;
}

.lienA{ 
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: $color-primary;
    text-decoration: none;
}




/*Page Produit */ 

#windowProduct{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin: 0px auto;
    text-align: center;
    
}



.divProduct{
    width: 100%;
    height: auto;
    
}

.divImg{
    width: 35%;
    height: auto;
    margin: auto;
    border:$color-tertiary solid 10px;
    text-align: center;
}


.imgProduct{
    width: 100%;
    height: auto;
}

.h2Product{
    color:$color-secondary;
    font-family: "roboto", "sans serif";
    font-weight: bold;
    font-size: 30px; 
}

.blocProduct{
    width: 100%;
    height:auto;   
}

.textProduct{
    width: 30%;
    height: auto;
    margin: auto;
    font-size: 20px;
}   

.option{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.select{
    width: 100%;
    height: auto;
}

.quantity{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.priceProduct{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.btnAjout{
    margin-top: 10px;
    margin-right: 10px;
    background-color: $color-tertiary;
}

.liens{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background-color: $color-tertiary;
}

.btnReturn{
    margin-top: 10px;
    background-color: $color-secondary;
}

.lien{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background-color: $color-secondary;
}


/*page panier*/ 

#teddyCard{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.divTextPanier{
    width: 40%;
    height:auto;
    margin: 20px;
    border: $color-secondary solid 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    
}

.h2Panier{
    font-family: "roboto", "sans serif";
    font-weight: bold;
    font-size: 30px; 
    margin-left: 20px;
    margin-right: 20px;
    
}

.selectPanier{
    font-family: "roboto", "sans serif";
    font-size: 28px; 
    margin-right: 10px;
}

.qtyPanier{
    font-family: "roboto", "sans serif";
    font-size: 28px; 
    margin-right: 10px;
}

.prixTeddyPanier{
    font-family: "roboto", "sans serif";
    font-size: 28px; 
}

#totalPanier{
    font-family: "roboto", "sans serif";
    font-size: 28px; 
    font-weight: bold;
}

#btnremove{
    background-color: $color-secondary;
}

.formu{
    width:100%;
    
}

input{
    width: 200px;
    margin: auto;
    font-family : inherit;
    font-size   : 100%;
}
 