.article{
    width: 100%;
    height:auto;
}



.cader{ 
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:auto;
    margin-bottom: 20px;
    border:$color-secondary solid 13px;
    text-align: center;
    
}


h1 {
    color: $color-secondary;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

h2{
    color:black;
    font-weight: bold;
    font-size: 30px;
    background-color: $color-tertiary;
}

.price{
    font-size: 24px;
    background-color: $color-tertiary;

}

.text-product{
    background-color: $color-tertiary;
    width: 100%;
    height:auto;
    margin: auto;
}

.btn{
    width: 100%;
    background-color: $color-primary;
}