
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cader{ 
    width: 18%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:50px;
    margin-bottom: 20px;
    border:$color-secondary solid 13px;
    text-align: center;
    
}


h1 {
    font-family: "roboto", "sans serif" ;
    width: 500px;
    margin: auto;
    color: $color-secondary;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.text-product{
    background-color: $color-tertiary;
    width: 100%;
    height:auto;
    margin: auto;
}


.h2ours{
    color:$color-primary;
    font-family: "roboto", "sans serif";
    font-weight: bold;
    font-size: 30px;
    background-color: $color-tertiary;
}

.h2product{
    width: 500px;
    margin: auto;
    color: blue;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
}   

.description{
    font-family:"merrywether", "sans serif";
    font-size: 20px;
    background-color: $color-tertiary;
}

.price{
    font-size: 24px;
    background-color: $color-tertiary;

}

.btn{
    width: 100%;
    text-decoration: none;
    background-color: $color-primary;
}

a{  font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: $color-primary;
    text-decoration: none;
}




/*Page Produit */ 

#windowProduct{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin: 0px auto;
    text-align: center;
}

.divProduct{
    width: 100%;
}

.divImg{
    width: 30%;
    height: auto;
    margin: auto;
    border:$color-tertiary solid 10px;
    text-align: center;
}


.imgProduct{
    width: 100%;
    height: auto;
}

