.article{
    width: 100%;
    height:auto;
}



.cader{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


h1 {
    color: $color-secondary;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

h3{
    color:black;
    font-weight: bold;
    font-size: 30px;
    background-color: $color-tertiary;
}

.price{
    font-size: 24px;
    background-color: $color-tertiary;

}

.border{
    width: 40%;
    height: auto;
    display: flex;
    margin:auto;
    margin-bottom: 20px;
    flex-direction: column;
    border:$color-secondary solid 13px;
    text-align: center;
}

.caderproduct{
    background-color: $color-tertiary;
    width: 80%;
    height: 600px;
    margin: auto;
}

.btn{
    width: 100%;
    background-color: $color-primary;
}